.insta_button_container{
    height: 3.25rem;
    background: #c360bc;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    padding-left: 0;
    border-radius: .75rem;
    margin-left: 1rem;
    text-decoration: none;
}
.insta_button_img{
    height: 50px;
    position: relative;
    left: -.5rem;
    cursor: pointer;
}
.insta_button_text{
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

body.main{
    display: flex;
    margin: 0 auto;
    max-width: 1070px;
    min-height: 100vh;
    overflow: hidden;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
}

body.main .container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: inherit;
}

.container .content{
    box-sizing: border-box;
    display: flex;
}

.container .left-column{
    position: relative;
}

.container .nav-back-btn {
    margin-top: 40px;
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    position: absolute;
    right: 0;
}
.nav-back-btn:hover,
.nav-back-btn:focus {
    color: #333;
    text-decoration: none;
}

.container .content .phone{
    position: relative;
    border: 40px solid #F8F9FB;
    border-width: 55px 7px;
    border-radius: 36px;
    max-width: 800px;
    min-width: 300px;
    max-height: 1080px;
    margin: 40px 40px;
    width: 540px;
}

.phone #desc{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #EDEEF7;
}

.phone #desc iframe{
    border: none;
    width: 100%;
    height: 100%;
}

.phone #desc1{
    position: absolute;
    top: -58px;
    left: -10px;
    right: 0;
    bottom: 0;
    background: #D0D1DB;
    z-index: -1;
    width: calc(100% + 20px);
    border-radius: 38px;
    height: calc(100% + 116px);
}